@model ContainerHalfImageTextComponent
<div class="container-fluid">
    <div class="row @Model.CssClass @(Model.SwapDirection ? "flex-row-reverse" : "")@(Model.OvalContainer != null ? " position-relative" : "")">
        @if (Model.SwapDirection)
        {
            <div class="col-lg-1 order-lg-0 order-3">

            </div>
        }
        <div class="col-md-12 offset-lg-1 col-lg-4 d-flex align-items-center position-relative px-4 p-lg-0 pb-5 pt-5 order-lg-1 order-2">
            <div class="has-parallax-scroll">
                <span class="fw-bold mb-4 mb-lg-5 tilted">@Html.Raw(Model.Title)</span>
                @Html.Raw(Model.Body)
                @*<partial name="_ButtonLinkPartial" model="Model.ButtonComponent" />*@
            </div>
        </div>
        <div class="col-md-12 @(Model.SwapDirection ? "col-lg-6" : "col-lg-6 offset-lg-1") p-0 has-parallax-scroll order-lg-2 order-1">
            @if (!string.IsNullOrEmpty(Model.ImageSrc) || !string.IsNullOrEmpty(Model.ThumbnailImageSrc))
            {
                <img class="img-fluid shadow-4" width="1600" height="500" src="@(Model.ThumbnailImageSrc ?? Model.ImageSrc)" alt="@($"{Model.Title} image")">
            }
            else
            {
                <img class="img-fluid shadow-4" width="1600" height="500" src="https://images.unsplash.com/photo-1504699439244-a7e34870c35d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80" alt="@($"{Model.Title} image")">
            }
        </div>

        @if (Model.OvalContainer != null)
        {
            @Html.DisplayFor(x => x.OvalContainer)
        }
    </div>
</div>
